doctype html
html
  head
    link(href='/css/main.css', rel='stylesheet')
    script(src='/js/script.js')
  body
    div#main
      h1 My Gulp Toybox
    div#box
      p This is a ppace where I have been playing with gulp and maing it wirk within my project.
